/*
* Переопределённые------------------------------------------------------------------------------
*/
/*Bootstrap - margin navbar.Убрал нижний отступ от навигации, чтобы слайдер плотно прилигал к ней*/
.navbar {
    margin-bottom: 0;
}
/*Поменял цвет при наведении на ссылки меню*/
.navbar-nav li:hover {
    background: #c9c9c9;
    background-color: #c9c9c9;
}

h2 {
    color: #2e6da4;
    font-weight: bold;
}

h4 {
    color: #A9A9A9;
    font-weight: bold;
    margin: 5px;
}
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #808080; /* Цвет линии для остальных браузеров */
    background-color: #808080; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    width: 90%;
}
tab {
    padding-left: 20px;
}

/*END Переопределённые-------------------------------------------------------------------------*/

/*
* App Container
*/
.app-container {
    /*padding: 10px;*/
}

/*GO for footer ------------------------------------*/

#footer {
    position: relative;
    z-index: 100;
    background: #eff0f1;
    background: -moz-linear-gradient(top, #eff0f1 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #eff0f1 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #eff0f1 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f1', endColorstr='#ffffff',GradientType=0 ); }
#footer > .layout {
    padding: 0; }

/*style for only footer*/
.menu--footer {
    padding-left: 30px; }

.b-footer .b-search {
    bottom: 70px; }

.b-footer__bottom {
    height: 70px;
    line-height: 30px;
    overflow: hidden; }

.footer__copy {
    float: left;
    color: #6c7073;
    font-size: 13px;
    font-family: ToyotaDisplay-Reg, 'sans-serif';
    margin-left: 64px; }

.footer__social {
    float: right;
    overflow: hidden;
    margin: 0 5.2% 0 0; }
.footer__social__item {
    display: block;
    float: left;
    width: 31px;
    height: 31px;
    margin-left: 6px;
    background: url("../images/icons--social.png") no-repeat; }
.footer__social__item:first-child {
    margin-left: 0; }
.footer__social__item--fb {
    background-position: 0 center; }
.footer__social__item--vk {
    background-position: -31px center; }
.footer__social__item--yt {
    background-position: -62px center; }
.footer__social__item--ig {
    background-position: -93px center; }

#footer .b-order {
    bottom: 140px; }

/*additions*/
.menu_footer {
    display: -ms-flexbox;
    display: flex;
    height: inherit; }
.menu_footer--footer {
    padding-left: 55px; }
.menu__item_footer {
    text-decoration: none;
    list-style: none;
    width: auto;
    padding: 0 10px 0 10px;
    height: 100%; }
.menu__item__link_footer {
    display: block;
    line-height: 70px;
    color: #6c7073;
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-align: center; }
.menu__item_footer:hover {
    text-decoration: underline; }
/*END for footer ------------------------------------*/

/*
* Для nextOrPrevLesson
*/
.previous-button {
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    color: #F5F5F5;
    font-weight: bold;
    background: #2e6da4;
    background-color: #2e6da4;
    margin-bottom: 20px;
    text-shadow: none;
}

.next-button {
    text-align: center;
    float: right;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    color: #F5F5F5;
    font-weight: bold;
    background: #2e6da4;
    background-color: #2e6da4;
    margin-bottom: 20px;
    text-shadow: none;

}
.previous-button:hover {
    text-shadow: none;
    background-color: #2F4F4F;
    background: #2F4F4F;
    color: #fff;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
    box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
}
.next-button:hover {
    text-shadow: none;
    background-color: #2F4F4F;
    background: #2F4F4F;
    color: #F5F5F5;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
    box-shadow: 0px 0px 19px -2px rgba(97,97,97,1);
}
.button_off {
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    color: #F5F5F5;
    font-weight: bold;
    background: #2e6da4;
    background-color: #2e6da4;
    margin-bottom: 20px;
    text-shadow: none;
}
.button_off:hover {
    color: #ffffff;
}
/*
* Текст и кнопка на слайдере главной страницы
*/
.slide-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
    min-height: 260px;
    padding-top: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-slider {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

.slide-inner {
    text-align: center;
}

.text-slider .maintitle {
    position: relative;
    display: inline-block;
    font-size: 42px;
    line-height: 67px;
    font-weight: 700;
    padding-bottom: 10px;
}
.text-slider .maintitle, .text-slider .subtitle {
    z-index: 10;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.text-slider .maintitle, .text-slider .subtitle {
    color: #ffffff;
}
.text-slider .subtitle {
    font-size: 24px;
    line-height: 40px;
    padding: 20px 0 50px;
    font-weight: 300;
}
.text-slider .maintitle, .text-slider .subtitle {
    z-index: 10;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.roll-button:hover {
    color: #d65050;
}
.roll-button:hover {
    background-color: transparent;
}
a:hover, a:focus {
    color: #443f3f;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.roll-button {
    background-color: #d65050;
    border: 1px solid #d65050;
}
.roll-button {
    position: relative;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 35px;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*
* Постояные стили для лекций
*/
.lesson-theme {
    border: 1px solid #2e6da4;
    border-radius: 3px;
    font-weight: bold;
    background: #2e6da4;
    background-color: #2e6da4;
    color: white;
    display: inline-block;
    padding: 5px;
    margin-left: 20px;
}
.lesson-theme span {
    margin-right: 8px;
}
.main-description {
    margin-left: 20px;
}
.main-blok {
    display: inline-block;
    height: 100%;
    font-family: ToyotaText-Reg, 'sans-serif';
    text-align: justify;
    color: #808080;
    font-size: 14px;
    position: relative;
}
.block-console-result {
    border: 3px solid #C0C0C0;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 300px;
    max-height: 300px;
    float: left;
    width: 48%;
    margin-left: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
}
.descrption {
    margin: 0px;
    width: 100%;
    height: 30px;
    background:#C0C0C0;
    padding: 4px;
    color: #696969;
    font-weight: bold;
}
.reset-button {
    float: right;
    margin-right: 15px;
    font-size: 12px;
    padding: 1px 5px 1px 5px;
    display: inline-block;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    background-color: #696969;
    background: #696969;
    color: #ffffff;
}
.reset-button:hover {
    background-color: #A9A9A9;
    background: #A9A9A9;
    border: 1px solid #ffffff;
}
.inside-console {
    color: steelblue;
    width: 100%;
    padding: 5px;
}
.numeric-block {
    float: left;
    background: #DCDCDC;
    width: 25px;
    min-height: 264px;
    padding-top: 4px;
    padding-left: 2px;
    margin-right: 5px;
}
.textareaCode {
    background-color: #ffffff;
    font-family: consolas,"courier new",monospace;
    font-size: 14px;
    height: 90%;
    width: 100%;
    padding: 8px;
    resize: none;
    border: none;
    line-height: normal;
}
textarea {
    overflow: auto;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
.part-number {
    float: right;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
    color: #D3D3D3;
}