/*
* Описание к блокам
*popup what-is-description
*/
.popup_what-is-description {
    position: absolute;
    height:100%;
    width:100%;
    z-index:200000;
    top:0;
    left:0;
    display:none;
}
.popup_what-is-description_bg {
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:1;
    height:100%;
    width:100%;
    padding: 0;
}

.for-three-block {
    position: relative;
    margin:0 auto 0;
    width: 50%;
}
/* три блока для описания*/
#blok1 {
    position: relative;
    z-index:2;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding:10px 20px;
    background:#2e6da4;
    /*border:1px solid #2e6da4;*/
    /*box-shadow:0 0 2px rgba(0,0,0,0.5);*/
    border-radius: 5px 5px 0 0 ;
}
#blok3 {
    position: relative;
    z-index:2;
    width: 100%;
    padding:10px 20px;
    background:#F5F5F5;
    border-top:1px solid #A9A9A9;
    /*box-shadow:0 0 2px rgba(0,0,0,0.5);*/
    border-radius: 0 0 5px 5px ;
}
#blok2 {
    position: relative;
    z-index:2;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    padding:10px 20px;
    background:#FFFFFF;
    /*border:1px solid #2e6da4;*/
    box-shadow:0 0 2px rgba(0,0,0,0.5);
}

/*Close button*/
.close-button {
    text-align: center;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 12px;
    background: #2e6da4;
    background-color: #2e6da4;
    text-shadow: none;
}
.close-button:hover {
    text-shadow: none;
    background-color: #8FBC8F;
    background: #8FBC8F;
    color: #fff;
}/*END *popup what-is-description*/

/*main-description-popup*/
.popup_main-description {
    position: absolute;
    height:100%;
    width:100%;
    z-index:200000;
    top:0;
    left:0;
    display:none;
}
.popup_main-description_bg {
    /*background:rgba(0,0,0,0.111111);*/
    background: transparent;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding: 0;
}
.for-main-desc-block {
    position: relative;
    margin:0;
    width: 150px;
}
#blok_one {
    position: relative;
    z-index:2;
    width: 100%;
    /*color: #fff;*/
    /*font-weight: bold;*/
    padding-top:5px;
    padding-bottom:5px;
    background:#fff;
    background-color:#fff;
    border:1px solid #D3D3D3;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    border-radius: 1px;
}
#blok_one div {
    color: #3c3c3c;
    padding-left: 10px;
    margin: 0;
}
#blok_one div p {
    margin: 0;
    padding: 5px;
}
#blok_one div:hover {
    background: #dcdcdc;
    height:100%;
    cursor: pointer;
}
/*END main-description-popup*/

/*menu-option*/
.popup_menu-option {
    position: absolute;
    height:100%;
    width:100%;
    z-index:200000;
    top:0;
    left:0;
    display:none;
}
.popup_menu-option_bg {
    background: transparent;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding: 0;
}
.for-menu-option {
    position: relative;
    margin:0;
    width: 150px;
}
#blok_menu-option {
    position: relative;
    z-index:2;
    width: 100%;
    /*color: #fff;*/
    /*font-weight: bold;*/
    padding-top:5px;
    padding-bottom:5px;
    background:#fff;
    background-color:#fff;
    border:1px solid #D3D3D3;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    box-shadow: 0px 0px 10px -2px rgba(97,97,97,1);
    border-radius: 1px;
}
#blok_menu-option div {
    color: #3c3c3c;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
}
#blok_menu-option div span {
    margin: 0;
    /*padding: 5px;*/
}
#blok_menu-option div:hover {
    background: #dcdcdc;
    height:100%;
    cursor: pointer;
}
.right-for-options {
    float: right;
    padding-right: 10px;
    display: none;
}
/*END menu-option*/

/*mob-nav-elem*/
.popup_mob-nav-elem {
    position: absolute;
    height:100%;
    width:100%;
    z-index:200000;
    top: 52px;
    left: 0;
    display:none;
}
.popup_mob-nav-elem_bg {
    background: transparent;
    /*background:rgba(0,0,0,0.5);*/
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding: 0;
}
.for-mob-nav-elem {
    position: relative;
    margin:0;
    width: 100%;
}
#blok_mob-nav-elem {
    position: relative;
    z-index:2;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    background:#fff;
    background-color:#fff;
    /*border:1px solid #f5f5f5;*/
    border-bottom:1px solid #f5f5f5;
    -webkit-box-shadow: 0px 10px 12px -3px rgba(69,69,69,0.41);
    -moz-box-shadow: 0px 10px 12px -3px rgba(69,69,69,0.41);
    box-shadow: 0px 10px 12px -3px rgba(69,69,69,0.41);
}
#blok_mob-nav-elem a div {
    padding-left: 10px;
    margin: 0;
}
#blok_mob-nav-elem a div p {
    margin: 0;
    padding: 5px;
}
#blok_mob-nav-elem a {
    color: #696969;
    text-decoration: none;
}
#blok_mob-nav-elem a:hover {
    color: #333;
}
#blok_mob-nav-elem div:hover {
    background: #dcdcdc;
    height:100%;
    cursor: pointer;
}
/*END mob-nav-elem*/