
.square {
    width:110px;
    height:100px;
    background:#2ca02c;
    float:left;
    margin:15px;
    text-align:center;
}

.circle {
    float:left;
    width: 100px;
    height: 100px;
    background: cadetblue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin:15px;
}

/*
* ADAPTIVE
*/

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}
