/*квадрат*/
.square {
    width:110px;
    height:100px;
    background:#8FBC8F;
    float:left;
    /*text-align:center;*/
}

/*
* ADAPTIVE
*/

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}
